@import "compass/reset";
@import "compass/css3";

/* --- Variables --- */
$black: #000;
$red: #d9534f;
$orange: #f0ad4e;
$green: #5cb85c;

$trans-dur: 250ms;
$trans-delay: 0;
$trans-prop: width;
$trans-timing: linear;

$st-margin: 10px 5px 10px 5px;

/* --- Mixins --- */
@mixin withBorder($color) {
  border: 1px solid $color;
}

/* --- Styles --- */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Open Sans", sans-serif;
}

#main {
  width: 990px;
  margin: 0 auto;
}

input[type="text"],
input[type="password"] {
  @include withBorder($black);
  padding: 5px;
  margin: $st-margin;
  width: 180px;
}

input[type="submit"] {
  @include withBorder($black);
  border-radius: 0;
  background-color: #fafafa;
  margin: $st-margin;
  cursor: pointer;
}

label {
  margin-left: 5px;
}

.passwordField {
  width: 300px;
  float: left;
}

.passwordFeedback {
  @extend .passwordField;
  width: 250px;
}

.feedback {
  margin: $st-margin;
  font-size: 11px;
  font-weight: 600;
}

.feedback.error {
  color: $red;
}

.feedback.warning {
  color: $orange;
}

.feedback.success {
  color: $green;
}

.strengthIndicator {
  margin: $st-margin;
  width: 200px;
  padding: 5px;
  height: 13px;
  @include withBorder(#d3d3d3);
}

.strengthIndicator {
  content: "";
  display: block;
  height: 100%;

  &::before {
    -moz-transition-property: $trans-prop;
    -o-transition-property: $trans-prop;
    -webkit-transition-property: $trans-prop;
    transition-property: $trans-prop;

    -moz-transition-delay: $trans-delay;
    -o-transition-delay: $trans-delay;
    -webkit-transition-delay: $trans-delay;
    transition-delay: $trans-delay;

    -moz-transition-duration: $trans-dur;
    -o-transition-duration: $trans-dur;
    -webkit-transition-duration: $trans-dur;
    transition-duration: $trans-dur;

    -moz-transition-timing-function: $trans-timing;
    -o-transition-timing-function: $trans-timing;
    -webkit-transition-timing-function: $trans-timing;
    transition-timing-function: $trans-timing;
  }
}

.passwordWrapper {
  &::after {
    content: "";
    display: block;
    clear: both;
    float: none;
  }
}

.error {
  .strengthIndicator {
    &::before {
      width: 10%;
      background-color: $red;
    }
  }
  .feedback.error {
    display: block;
  }
}

.warning {
  .strengthIndicator {
    &::before {
      width: 60%;
      background-color: $orange;
    }
  }
  .feedback.warning {
    display: block;
  }
}

.success {
  .strengthIndicator {
    &::before {
      width: 100%;
      background-color: $green;
    }
  }
  .feedback.success {
    display: block;
  }
}

.feedback.error {
  display: none;
}

.feedback.warning {
  display: none;
}

.feedback.success {
  display: none;
}
